[package]
name = "aoc"
version = "0.1.0"
edition = "2024"

[lib]
doctest = false

[dependencies]
dotenvy = "0.15.7"
nom = "7.1.3"
num_enum = "0.7.5"
reqwest = { version = "0.12.9", features = ["blocking"] }
strum = { version = "0.26.3", features = ["derive", "strum_macros"] }
